html, body{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	font-size: 10pt;
	color: black;
}
a{
	text-decoration: none;
}
a,
#burger-submenu li,
#tabloid_article_content h3{
	color: black;
}
ul{
	padding:0;
}
li{
	list-style: none;
}
header li{
	display: inline-block;
}
header ul,
#menuMain{
 	text-align: center;
}
.w15{
 	width: 15%;
}
.w18{
 	width: 18%;
}
.w20{
 	width: 20%;
}
.w25{
 	width: 25%;
}
.w30{
	width: 30%;
}
.w35{
	width: 35%;
}
.w40{
 	width: 40%;
}
.w85{
 	width: 85%;
}
.w90{
 	width: 90%;
}
.w100{
 	width: 100%;
}
.font8pt{
	font-size: 8pt;
}

.font12pt{
	font-size: 12pt;
}
.font22pt{
	font-size: 22pt;
}
.bold{
	font-weight: bold;
}
.color_silver{
	color:silver;
}
.borderGray{
	border: 1px solid #484848;
}
.borderTopGray{
	border-top: 1px solid #484848;
}
.borderLeftSilver{
	border-left: 1px solid silver;
}
.borderTopRed{
	border-top:1px solid maroon;
}
.borderTopSilver{
	border-top: 1px solid silver;
}
.borderBottomSilver{
	border-bottom: 1px solid silver;
}
.paddingTop10{
	padding-top: 10px;
}
.paddingBottom15{
	padding-bottom: 15px;
}
.paddingLeft15{
	padding-left: 15px;
}
.paddingY10{
	padding: 10px 0;
}
.marginY15{
	margin: 15px 0;
}
.marginX15{
	margin: 0 15px;
}
.marginLeft15{
	margin-left:15px;
}
.marginRight15{
	margin-right:15px;
}
.marginRight5{
	margin-right:5px;
}
.marginBottom5{
	margin-bottom: 5px;
}
.marginBottom15{
	margin-bottom: 15px;
}
.font14pt{
	font-size: 14pt;
}
.d_flex{
	display:flex;
}
.row{
	flex-direction: row;
}
.column{
	flex-direction: column;
}
.space_between{
	justify-content: space-between;
}
.flex_start{
	justify-content: flex-start;
}
.flex-align-center{
	align-self: center;
}
.mask_for_slider{
	overflow: hidden;
	position:relative;
	display:none;
}
.slide_styles{
	display:flex;
	flex-direction: row;	
	position: absolute;
	left:0;
	transition-duration: 1s;
}
#menuTop a{
	font-size: 8pt;
	color:#888;
}
#menuTop li, div#menuButtom li{
	margin: 0 7px;
}
.color_maroon,
.left-sideBar p:nth-child(2),
#menuTop a:hover,
#menuBottom a:hover,
#burger-submenu a:hover,
#tabloid_article_content a:hover h3,
#list_of_news_article a:hover,
#popular-news-header-nav a:hover{
	color: maroon;
}
#menuMain svg{
	height: 70%;
	fill:#888;
}
#menu-search a:hover path,
#menu-social a:hover path{
	fill: black;
	transition-duration: .7s;
}
#menu-social{
	padding-left:4%;
}
#burger-menu{
	display:none;	
}
#burger-submenu{
	display:none;
	position: fixed;
	overflow-x: auto;
	z-index:99;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	background-color: white;
	text-align: left;	
	padding:20px 15vw;
	box-sizing: border-box;
}
#burger-submenu li{
	display:block;
}
#burger-submenu button{
	padding:0;
	background: transparent;
	border:none;
	outline:none;
	position:absolute;
	top:20px;
	right: 20px;
	cursor:pointer;
}
#burger-submenu svg{
	fill:black;
	width: 30px;
	height: 30px;
}
#burger-submenu button:hover svg{
	fill:maroon;
}
a,
/*#burger-submenu a,*/
#burger-submenu li,
/*#menuBottom a,*/
#tabloid_article_content h3
/*#list_of_news_article a*/{
	color: black;
}
#burger-submenu-1 li{
	font-size:12pt;
	font-weight: bold;
	border-top:1px solid silver;
	padding: 10px 0;
}
#burger-submenu-2{
	margin:40px 0;
}
#burger-submenu-2 li{
	padding: 10px 0;
}
#menu-search{
	padding-right:4%;
}
#menuLogo p{
	margin: 0;
}
#menuLogo p:first-child{
 	font-family: serif;
 	font-size: 38pt;
 	transform: scaleX(0.7);
}
#menu-social li, #menu-search li{
 	width: 60px;
 	height: 40px;
 	box-sizing: border-box;
 	border: 1px solid #D3D3D3;
 	padding-top:7px;	
 	vertical-align: middle;
 }
#menu-search li:first-child{
 	width: 80px;
	line-height: 25px;
}
#menuBottom li{
 	margin: auto 8px;
}
#menuBottom a{
 	letter-spacing: .8px;
}
#slider-container{
	padding: 0 4%;
	box-sizing: border-box;
	background: #32322F;
	width: 100%;
	height: 100px;
	border-top: 5px solid maroon;	
}
#slide li{	
	border-right: 1px solid #484848;
	padding-right:5px;
	margin-right: 15px;
	box-sizing: border-box;
}
#slide img{
	margin-right: 15px;	
}
#slide p{
	color: white;
	font-weight: 600;
	margin:0 10px;
}
#slider-controlls{
	margin-top: 25px;
}
.slider-btn-style{
	background: transparent;
	width: 40px;
	height: 40px;
	outline: none;
	font-size: 15pt;
	cursor:pointer;	
}
#prev,#next,#greyArticle-prev,#greyArticle-next{
	border: 1px solid #5E5B5B;
}
#prev,#greyArticle-prev{
	color: #5E5B5B;
	margin-right:-5px;
}
#next,
.greySlide_rubric,
.greySlide_title{
	color:white;
}
#main{
	padding: 50px 4%;
}
#newsBar{
	max-height: 2600px;
	overflow-y: scroll;
	overflow-x: hidden;
}
#main-newsBar-list{
	width:50%;
	text-align:right;
}
#main-mainBar{
	border-left: 1px solid #D3D3D3;
	box-sizing: border-box;
	padding: 0 15px;
	margin-left:15px;
	width:45%;
	max-height: 2600px;
}
#center-news{
	max-height: 2530px;
	overflow: hidden; 
}
#newsBar-header-list a {
	color: #A9A9A9;
}
::-webkit-scrollbar-button { 
	height:30px 
} 
::-webkit-scrollbar-track { 
	background-color:#F2F0F0; 
} 
::-webkit-scrollbar-thumb { 
	background-color:silver; 
} 
::-webkit-scrollbar{ 
	width: 6px; 
}
.item-news{
	margin: 5px 10px 5px 0;
	padding: 10px 0;
	border-top: 1px solid silver;
}
.title{
	font-size: 11pt;
    transform: scaleX(1.1);
    padding: 0 10px;
    box-sizing: border-box;
    width: 85%;
}
.allNews{
	border: 1px solid silver;
	margin: 20px  10px;
	
}
.allNews div{
	padding:15px;
	line-height: 12pt;
	color:maroon;
}

.title-main h2{
	margin: 0;
	transform: scaleY(0.9);
}
.title-main{
	min-height: 125px;
}
.title-main img{
	width: 185px;
	margin: 5px 15px 0 0;
}
.title-main p:nth-child(n+3){
	margin: 5px 0;
}

#main-sideBar{
	border-left: 1px solid silver;
	box-sizing: border-box;
	padding: 0 15px;
	max-height: 2500px;
}
#blog-header{
	border-top:1px solid maroon;
	border-bottom:1px solid silver;
	padding: 5px 0;
}

#blog-slider-controlls button{
	border:none;
	height: 30px;
	color:silver;
}
#blog-btn-prev{
	margin-right: -5px;
	border-right: 1px solid silver !important;
}
.left-sideBar{
	width:100%;
}

.left-sideBar img{
	width: 65px;
	margin: 0 15px 15px 0;
}
#twitter-news{
	height: 700px;
	overflow-y: scroll;
}
#twitter-button{
	margin: 15px 0 30px;
}
#popular-news{
	padding: 0 4%;
}
#popular-news-header{
	border-top: 1px solid maroon;
	padding-top: 10px; 
}
#greyArticle{
	background: #f3f3f3;
	padding: 4%;
	box-sizing: border-box;
}
#slider-greyArticle-mask{
	display:block !important;
	height: 250px;
}
.greySlide{
	position:relative;
	display:block;
}
.greySlide_overlay{
	position: absolute;
	top:0;
	left:0;
	height: 100%;
	display: flex;
	align-content: space-between;
	float: left;
	 flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	-ms-box-orient: horizontal;
	  display: -webkit-box;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: -moz-flex;
	  display: -webkit-flex;
}
.greySlide_rubric{
	background: maroon;
	display:inline-block;
	padding:3px;
	margin: 10px 15px;	
}
.greySlide_title{
	font-size: 16pt;
	margin:0;
	padding:15px;
	box-sizing: border-box;
	background: linear-gradient(to top, black,transparent);
}
.greySlide a:hover h3{
	color:#E6E1E1;
}
#tabloid_article{
	margin:80px 0;
}
#tabloid_article_content img,
.greySlide img{
	width: 100%;
}
#tabloid_article_content .w25 h3{
	font-size:13pt;
}
.footer_svg_social{
	fill:#f3f3f3;
	margin:10px;
	height: 20px;
}
footer{
 	padding: 4%;
	background: #333;
	border-top:5px solid maroon;
	color:#f3f3f3;
}
footer a{
	color:#f3f3f3;
}
#footer_info{
	margin:40px 0 60px;
	padding-top:40px;
}
#footer_info li{
	margin: 10px 0;
}
#footer_info img{
	width: 100px;
	height: 170px;
}
.footer_social{
	width:100px;
	height: 40px;
	padding-right: 5px;
}
.footer_social div{
	width:50%;
	height:100%;
	line-height: 40px;
}
#footer_social_rss{
	padding: 0 10px;
	width:40px;
	margin-top: 40px;
}

@media only screen and (max-width: 1080px){
	.d-md-none
	{
		display:none;
	}
	#menuMain{
		padding:0;
	}
	#menu-social li,
	#menu-search li{
 	width: 40px;
 	}
	#burger-menu{
		display:block;
	}
	#menuLogo p{
		font-size: 30pt !important;
	}
	#menuLogo{
		line-height: 50pt; 
	}
	#slider-container{
		height: 150px;
	}
	#slider-controlls{
		margin-top: 35px;
	}
	#main{
		flex-wrap: wrap;
	}
	.w50md{
		width: 50%;
	}
	#main-newsBar{
		padding-right: 15px;
		box-sizing: border-box;
	}
	#main-mainBar{
		margin: 0;
	}
	#main-sideBar_adv{
		margin: 15px auto;
	}
	.flex_start_md{
		justify-content: flex-start !important;
	}
	#popular-news-content>div{
		border-left: none !important;
		border-bottom: 1px solid silver !important;
		padding-top:10px;
	}
	.column_md{
		flex-direction: column !important;
	}
	#tabloid_article_content>div{
		width:24% !important;
	}
	#list_of_news_article>div,
	#popular-news-content>div,
	.w100md{
		width:100% !important;
	}
	.footer_social {
		margin:15px 15px 0 0;
	}	
}



@media only screen and (max-width: 700px){
	#menuLogo p{
		font-size: 20pt !important;
	}
	#slider-container{
		height: 100px;
	}
	#slide li{
		border-right: none;
	}
	#slider-mask,
	#main-sideBar_adv{
		width: 70%;
	}
	#slider-controlls{
		margin-top: 25px;
	}
	#newsBar, #center-news{
    	max-height: 800px;
	}
	#main-newsBar,#main-mainBar{
		width:100%;
	}
	
}
@media only screen and (max-width: 450px){
	#menuLogo p{
		font-size: 18pt !important;
	}
	#slider-controlls,
	#slider-greyArticle-control{
		display:none;
	}
	#slider-mask{
		width:100%;
	}
	.allNews{
		margin: 20px 0;
	}
	#tabloid_article_content,
	#popular-news-header{
		flex-direction: column;
	}
	#tabloid_article_content div{
		width:100% !important;
	}
	#tabloid_article_content h3{
		margin-top:5px;
	}
	#popular-news-header-nav a{
		font-size: 7pt;
		margin: 0 10px 0 0;
	}
	
}